
body {
    color: #333;
}



a {
    text-decoration: none;
    color: #1b98f8;
}


 /* Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;

}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
    width: 230px;
    height: 35px;
    font-size: 120%;

}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (post list), and `#main` (post content). All 3 elements are within `#layout`
 */
#layout  {
    margin: 0;
    padding: 0;
}
#list{
    margin: 100px;


    
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: fixed;
    background: rgb(37, 42, 58);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu-link {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }



/* post Item Styles */
.post-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid transparent; 


}

    
    .post-name,
    .post-subject {
        margin: 0;
            padding: 0.9em 0em;

    }
    .post-name {
        text-transform: uppercase;
        color: #999;

    }
    .post-desc {
        font-size: 80%;
        margin: 0.4em 0em;

    }



.nav-header{

    width: 100%;
    margin-left: 230px;
    position: fixed;

    background: -webkit-linear-gradient(rgb(37, 42, 58) 90%,white 10% ); /* For Safari 5.1 to 6.0 */
    background: o-linear-gradient(rgb(37, 42, 58) 90%,white 10% ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(37, 42, 58) 90%,white 10% ); /* For Firefox 3.6 to 15 */
    z-index: 1;
    opacity: 0.8;

}


.nav-header .pure-menu-horizontal {
    border: none;
    text-align: left;
}
    .nav-header .pure-menu-horizontal .pure-menu-list :hover{
    background: -webkit-linear-gradient(rgb(37, 42, 58) 90%,white 10% ); /* For Safari 5.1 to 6.0 */
    background: o-linear-gradient(rgb(37, 42, 58) 90%,white 10% ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(37, 42, 58) 90%,white 10% ); /* For Firefox 3.6 to 15 */
    opacity: 0.9;
            }
    .nav-header .pure-menu-horizontal:focus {
            background: ;    }

    .nav-header .pure-menu-link {
        color: #fff;
        margin-left: 2.5em;
    }
 


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices,  customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {


    #layout {
        padding-left:500px; /* "left col (nav + t)" width */
        position: absolute;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }

    
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:230px; /*width of nav back*/
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-top: 70px;
        margin-left: 250px;
        width: 60%;
        position: absolute;
        height: 100%;
        }

    .top{


    }


}
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        padding: 0.9em;
        margin-left: 250px;
        height: 100%;
    }

    .top{

        padding: 0.9em 1em;
        width: 100px;
        padding-left: 70px;
        height: 29px;
    }   

}

